
/models/Human-Segmentation-main/SyntheticData-main/Result
/SyntheticData-main/Result
/SyntheticData-main/Obj
/SyntheticData-main/Obj_cut
/models/__pycache__
/models/Human-Segmentation-main/SyntheticData-main/Obj_cut
/models/Human-Segmentation-main/SyntheticData-main/Obj
SyntheticData-main/alpha_step1.png
SyntheticData-main/alpha_step3.png
SyntheticData-main/alpha_step2.png
/SyntheticData-main/Bg
/SyntheticData-main/__pycache__
